/**
* * Important information higlithed
* ! Alert, be aware of this.
* ? Question for course
* TODO: What is pending?
* // things not necessary
*/


/*!============================= LOGIN.HTML ============================*/
body{
    margin:0;
    /*//background-color: #ab88ff; */
    font-family: 'Muli', sans-serif;
    /* display: grid; */
    /* grid-template-rows: 100px 25% auto;
    grid-template-areas: "header"
                         "main"
                         "footer"; */
}

/*==============================   HEADER   ============================*/
.header{
    width: 100%;
    height:80px;
    background-color: #21c08b;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header__img {
    width: 200px;
    
    margin-top: 10px;
    margin-left: 10px;
}
/*==============================    MAIN    ============================*/
.login{
    background: linear-gradient(to bottom, #21c08b, #AB88FF);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container{
    background-color: rgba(255,255,255,0.1);
    padding: 60px 68px 40px;
    border-radius: 40px;
    border:2px solid white;
    color: white;
    min-height: 700px;
    min-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    


}
.login__container--form{
    display: flex;
    flex-direction: column;
    
}

.login__container--form input {
    outline: none;
    border-bottom: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    padding: 10px 20px;
    margin-bottom: 10px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: white;
}

.login__container--form input::placeholder {
    color:white;
}

.login__container--form button {
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.1);
    cursor:pointer;
    /* padding-bottom: 10px; */
    /* padding-top: 10px; */
    padding: 10px 20px;
    margin: 10px 0;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
}

.login__container--form label{
    font-size: 14px;
    
}


.login__container--remember-me{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.login__container--remember-me a{
    color: white;
    font-size: 14px;
    
    text-decoration: none;
}
/** descendant selector (space) 
 ** **/
.login__container--remember-me a:hover{
    color: white;
    font-size: 14px;
    
    text-decoration: underline;
}

/** child selector (>)
** Just think of what the words "child" and "descendant" mean in English:
**My daughter is both my child and my descendant
**My granddaughter is not my child, but she is my descendant. **/
.login__container--social-media > div{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}

.login__container--social-media > div > img{ 
    width: 30px;
    margin-right: 10px;
    
}

.login__container--register{
    font-size: 14px;
    align-self: center;
}

.login__container--register a{
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login__container--register a:hover{
    text-decoration: underline;
}
/*==============================   FOOTER   ============================*/
.footer{
    background-color: #AB88FF;
    display: flex;
   align-items: center; 
    justify-content: space-around;
    height: 100px;
    width: 100%;

}
.footer a{
    
    text-decoration: none;
    color: white;
    cursor:pointer;
   
    
}

.footer a:hover{
    
    text-decoration: underline;
    
    
}

@media only screen and (max-width: 600px){

    .login__container{
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
        margin-bottom: 30px;

    }
    .footer{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
}