/**
* * Important information higlithed
* ! Alert, be aware of this.
* ? Question for course
* TODO: What is pending?
* // things not necessary
*/
/*!============================= MAIN.HTML  ============================*/
body{
    margin:0;
    background-color: #ab88ff; 
    font-family: 'Muli', sans-serif;
    /* display: grid; */
    /* grid-template-rows: 100px 25% auto;
    grid-template-areas: "header"
                         "main"
                         "footer"; */
}
/*==============================   HEADER   ============================*/
.header{
    width: 100%;
    height:80px;
    background-color: #ab88ff;
    display: flex;
    justify-content:space-between;
    align-items: center;

    
}
.header__img {
    width: 200px;
    
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin-right: 30px;
    
}

.header__menu ul {
    /* Estado inicial del menu ante del hover */
    /*display: none;*/  
    /*modifica el estilo de los puntitos en la lista*/
    list-style: none;
    /*ul tiene por defecto un padding*/
    padding: 0px;
    /*texto alineado para que quede igual que el profile*/
    text-align: right;
    /*position absolute se configura de acuerdo al parent*/
    position: absolute;
    
    width: 100px;
    /*se mueve el elemento 14 pixeles a la izquierda*/
    margin: 0px 0px 0px -14px;
    
    visibility: hidden;

    opacity: 0;

    
}
/* *Se usa ul:hover para que cuando bajemos el cursor se mantenga
* el bloque   */

.header__menu:hover ul, ul:hover {
    /*  */

    /*display:block;*/

    
    visibility: visible;

    opacity: 1; 

    transition: visibility 0.5s, opacity 0.5s cubic-bezier(0, 0.54, 0.62, 0.82);
}
.header__menu li {
    /*  */

    /* display:block; */

    margin: 10px 0px;

    

}
.header__menu li a {
    /*  */

    text-decoration: none;
    color:white;

}
.header__menu li a:hover {
    /*  */

    text-decoration: underline;
    color:white;
    
}
.header__menu--profile{
    margin-right: 8px;
    
    display: flex;
    align-items:center; 
    cursor: pointer;

}
.header__menu--profile img{
    width: 40px;
    height: 40px;
    margin-right: 8px;

}
.header__menu--profile p{
    
    color: white;
    
}

/*==============================    MAIN    ============================*/
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;

}
.main__search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.main__search--input{
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    width: 70%;
    height: 50px;
    background: #ab88ff;
    font-size: 1.0rem;
    padding: 0px 15px;
    /**El font family no se hereda en este tipo de elementos*/
    font-family: 'Muli', sans-serif;
}
.main__search--input:focus{
    
    background: #8f57fd;
    transition: background 0.2s cubic-bezier(0.4, 0, 1, 1) 0.2s;
    outline: none;

}
.main__search--input:hover{
    
    background: #8f57fd;
    transition: background 0.2s cubic-bezier(0.4, 0, 1, 1) 0.2s;
    outline: none;

}
.main__search--input::placeholder{
    color: white;
    font-size: 1.0rem;

}
.main__search--title{
    color: white;
    font-size: 1.5rem;
}

.carousel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
    
}
.carousel h2:first-child{
    color: white;
    margin-bottom: 0;
    font-size: 16px;
    padding-left: 30px;
}
/* width */
.carousel::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

/* Track */
.carousel::-webkit-scrollbar-track {
  background: #ab88ff;
}

/* Handle */
.carousel::-webkit-scrollbar-thumb {
  background: #8f57fd;
  border-radius: 20px;
  width: 20%;
  
}

/* Handle on hover */
.carousel::-webkit-scrollbar-thumb:hover {
  background: #8f57fd;
}
.carousel__container{
    display:flex;
    flex-wrap: nowrap;
    margin: 70px 0px;
    align-items: space-between;
    padding-left: 30px;
    
}

.carousel-item{
    background-color: crimson;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    /* Evita que el elemento se encoja o agrande*/
    flex: 0 0 auto;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}
.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px,0,0);
} 
.carousel__container:hover .carousel-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;

}
.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carousel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, 
                rgba(0,0,0,0.0) 100% );
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.carousel-item__details:hover{
    opacity:0.9;
}
.carousel-item__details--play{
    top: 160px;
    width: 25px;
}
.carousel-item__details--plus{
    width: 25px;
}
.carousel-item__details--tittle{
    font-family: 'Muli', sans-serif;
    color: white;
    margin-top:5px;
    margin-bottom: 1px;
    font-weight: bold;
    
}
.carousel-item__details--subtittle{
    color: white;
    margin-top: 1px;
    margin-bottom: 5px;
}
/*==============================   FOOTER   ============================*/
.footer{
    background-color: #AB88FF;
    display: flex;
   align-items: center; 
    justify-content: space-around;
    height: 100px;
    width: 100%;

}
.footer a{
    
    text-decoration: none;
    color: white;
    cursor:pointer;
   
    
}

.footer a:hover{
    
    text-decoration: underline;
    
    
}