/**
* * Important information higlithed
* ! Alert, be aware of this.
* ? Question for course
* TODO: What is pending?
* // things not necessary
*/
.header{
    width: 100%;
    height:80px;
    background-color: #ab88ff;

}
.header__img {
    height: 80%;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu{
    margin-right: 30px;
}
.header__menu ul {
    display: none;
    /*modifica el estilo de los puntitos en la lista*/
    list-style: none;
    /*ul tiene por defecto un padding*/
    padding: 0px;
    /*texto alineado para que quede igual que el profile*/
    text-align: right;
    /*position absolute se configura de acuerdo al parent*/
    position: absolute;
    /*se mueve el elemento 14 pizeles a la izquierda*/
    margin: 0px 0px 0px -14px;

}
.header__menu--profile{
    margin-left: 8px;
    width: 40px;
}
body{
    margin:0;
    background-color: #ab88ff; 
}
